pkgbase = overthink-git
	pkgdesc = Overthink container management CLI — compose, build, deploy container images from configurable layers
	pkgver = 2026.127.1724
	pkgrel = 1
	url = https://github.com/overthinkos/overthink
	install = overthink-git.install
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	makedepends = pkgconf
	makedepends = curl
	depends = glibc
	depends = podman
	depends = docker
	depends = libsecret
	depends = gocryptfs
	depends = fuse3
	depends = openssh
	depends = util-linux
	depends = skopeo
	depends = qemu-full
	depends = qemu-img
	depends = virtiofsd
	depends = libvirt
	depends = tailscale
	depends = go-task
	depends = fuse-overlayfs
	depends = slirp4netns
	depends = libisoburn
	depends = cdrtools
	depends = edk2-ovmf
	depends = dnsmasq
	depends = swtpm
	depends = dmidecode
	depends = gnupg
	depends = pinentry
	depends = portaudio
	depends = opusfile
	depends = openbsd-netcat
	depends = cloudflared-bin
	depends = gvisor-tap-vsock
	provides = ov
	conflicts = ov
	conflicts = ov-git
	replaces = ov-git
	source = overthink-git::git+file:///home/atrawog/Atrapub/overthink
	sha256sums = SKIP

pkgname = overthink-git
