pkgbase = ov-git
	pkgdesc = Overthink container management CLI — compose, build, deploy container images from configurable layers
	pkgver = 2026.110.1558
	pkgrel = 1
	url = https://github.com/overthinkos/overthink
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	makedepends = pkgconf
	depends = glibc
	depends = podman
	depends = libsecret
	depends = gocryptfs
	depends = fuse3
	depends = openssh
	depends = skopeo
	depends = qemu-full
	depends = qemu-img
	depends = virtiofsd
	depends = libvirt
	depends = tailscale
	depends = libisoburn
	depends = edk2-ovmf
	depends = dnsmasq
	depends = swtpm
	depends = dmidecode
	depends = portaudio
	depends = opusfile
	optdepends = docker: alternative container engine
	provides = ov
	conflicts = ov
	source = ov-git::git+file:///home/atrawog/Atrapub/overthink
	sha256sums = SKIP

pkgname = ov-git
